<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appliances repair and Installation | Sioux Falls, SD</title>
      <!-- SEO -->
    <meta name="description" content="Professional appliance repair in Sioux Falls, SD. Fast service, experienced technicians, same-day repairs available (605) 521 8720 ">
    <meta name="keywords" content="dryer repair, refrigerator repair, washer repair, dishwasher repair, microwave repair, oven repair, range rapair, appliance repair, electronics repair, Sioux Falls">
    <meta name="author" content="That Is Fixable LLC">

    <meta property="og:title" content="Appliance repair and Installation">
    <meta property="og:description" content="Fast and reliable repair services in Sioux Falls, SD.">
    <meta property="og:image" content="https://thatisfixable.com/static/preview.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thatisfixable.com/">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        body { font-family: Arial; padding: 5px; }
        .grid { display: grid; grid-template-columns: repeat(auto-fill, 200px); gap: 20px; }
        img { width: 100%; border-radius: 8px; }
    </style>
</head>

<body class="h-screen w-screen overflow-hidden">

<div class="relative h-full w-full flex flex-col md:flex-row">

   

    <!-- Commercial -->
<a href="/commercial"
   class="relative group flex-1 flex items-center justify-center
          text-white text-2xl md:text-3xl font-semibold uppercase tracking-wide
          transition overflow-hidden">

    <!-- Background image -->
    <div
        class="absolute inset-0 bg-cover bg-center
               transition-transform duration-300 group-hover:scale-105"
        style="background-image: url('/static/Commercial.jpg');">
    </div>

    <!-- Gradient overlay (bottom → top) -->
    <div class="absolute inset-0 pointer-events-none
               bg-gradient-to-t from-[#031436]/90 to-transparent
               transition-all duration-300
               group-hover:from-black/70
               group-hover:backdrop-blur-[4px]"
                 ></div>

    <!-- Text -->
    <div class="relative z-10 text-center">
        <div>Commercial Repair</div>
        <div class="text-sm font-normal tracking-normal mt-2 opacity-90">
            Restaurants · Stores · Offices
        </div>
    </div>

</a>

     <!-- Divider -->
    <div class="divider"></div>
    <div
         class="absolute inset-x-0 top-1/2 h-px bg-white/40 shadow-[0_0_12px_rgba(255,255,255,0.4)]
         md:inset-y-0 md:left-1/2 md:w-px md:h-full z-20">
    </div>

    <!-- Residential -->
    <a href="/residential"
        class="relative group flex-1 flex items-center justify-center
          text-white text-2xl md:text-3xl font-semibold uppercase tracking-wide
          transition overflow-hidden">

    <!-- Background image -->
    <div
        class="absolute inset-0 bg-cover bg-center transition-transform duration-300 hover:scale-105"
        style="background-image: url('/static/Residential.jpg');">
    </div>

    <!-- Gradient overlay (top -> bottom) -->
    <div
        class="absolute inset-0 pointer-events-none
               bg-gradient-to-b from-[#031436]/90 to-transparent
               transition-all duration-300
               group-hover:from-black/70
               group-hover:backdrop-blur-[4px]">
    </div>
    <div class="relative z-10 text-center">
        <div>Residential Repair</div>
        <div class="text-sm font-normal tracking-normal mt-2 opacity-90">
            Houses · Appartments · Ranch
        </div>
    </div>

    </a>


    
    

    <!-- Logo center -->
    <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
       <img
            src="/static/logo.png"
            alt="That's Fixable LLC"
            class="logo-animation w-56 md:w-64 mx-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-30"
        />
        <style>
            @keyframes logoFadeIn {
            0% {
                opacity: 0;
                transform: translate(-50%, -50%) scale(0.92);
            }
            100% {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
            }

            .logo-animation {
            animation: logoFadeIn 0.9s ease-out forwards;
            }
        </style>
    </div>

</div>

</body>
<footer>
    <div class="bg-black/40 hover:bg-black/20 transition">
        <div class="relative z-10 text-center">
            <div class="text-sm font-normal tracking-normal  opacity-60">
                Appliance repair in Sioux Falls · SD · 2026 
                That is Fixable LLC · DOB · That`s Fixable · (605) 521 8720
            </div>
            
        </div>
    </div>
</footer>

</html>
